*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family:'Times New Roman', Times, serif
  }
  
  body{
    background:yellowgreen;
  }
  h1
  {
    color:orangered;
    text-align: center;
    font-size:xx-large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 2px;
  }
  .wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 350px;
    width: 100%;
    background:powderblue;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 4px 4px 2px red;
  }
  
  .wrapper h2{
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ec1165;
  }
  
  .wrapper .input_field{
    margin-bottom: 10px;
  }
  
  .wrapper .input_field input[type="text"],
  .wrapper textarea{
    border: 2px solid black;
    width: 100%;
    padding: 10px;
  }
  
  .wrapper textarea{
    resize: none;
    height: 80px;
  }
  
  .wrapper .btn input[type="submit1"]
  {
  border: 0px;
  margin-top: 15px;
  padding: 10px;
  text-align: center;
  width: 100%;
  background:yellowgreen;
  color: #332902;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
  }
  
  .wrapper .btn input[type="submit"]{
    border: 0px;
    margin-top: 15px;
    padding: 10px;
    text-align: center;
    width: 100%;
    background:yellowgreen;
    color: #332902;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
  }
  
  #error_message{
    margin-bottom: 20px;
    background:red;
    padding: 0px;
    text-align: center;
    font-size: 14px;
    transition: all 0.5s ease-in-out; 
  }